# ======================MATLAB project==================

# mexFunction
*.mexa64

# Data in
*.mat


# ==========================else========================

# Exact solution
# *.exact


# Text Backup
*.*~
*.#*
*#
